@import "./normalize.css";
@import "./reset.css";
@import "./fonts.css";


*, * {
  box-sizing: border-box;
}

.swiper-slide {
  width: 100px !important;
}

body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
  /*  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
  /*  sans-serif;*/
  font-family: 'Futura-PT', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-color: rgb(240, 241, 242);*/
  height: 100%;
  background: #fff;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
}

.photodrop-futura {
  font-family: 'Futura-PT', serif;

}

/* .reactEasyCrop_Cover_Horizontal {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  bottom: -67px !important;
  object-fit: cover !important;
} */

/* .crop-container {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 80px !important;
} */

/* .reactEasyCrop_CropAreaRound {
  border-radius: 50% !important;
  width: 285px !important;
  height: 285px !important;
  overflow: hidden !important;
  border: none !important;

} */

.reactEasyCrop_CropArea {
  /* position: absolute; */
  /* width: 285px !important;
  height: 285px !important; */
  /* left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box; */
  box-shadow: 0 0 0 9999em;
  color: #262626 !important;
  /* overflow: hidden; */
}

/* .reactEasyCrop_Contain {
  height: 285px !important;
  width: 285px !important;
  max-height: unset !important;
  object-fit: cover;
} */

/* 
.reactEasyCrop_Contain {

  max-width: 100% !important;
  max-height: 100% !important;
  width: 285px !important;
  height: 100% !important;
  margin: auto !important;
  object-fit: cover !important;
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0!important;
} */